.button {
    background: $blue;
    border: none;
    color: white;
    display: inline-block;
    font-size: $font-size-large;
    font-weight: 200;
    line-height: 1;
    padding: $s-size;
    text-decoration: none;
  }

  // BEM modifier for other buttons
.button--link {
  background: none;
  border: none;
  padding: 0;
}

.button--remove {
  background: #888
}